/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 7:11:33 PM
    Author     : Padure Gheorghe
*/
/*Title video*/
body{
    background-image: URL("../images/video.jpg");
}
.title{
    margin-bottom: 10px;
}
.description-form{
    
}
.calibri{
    font-family: Calibri !important;
}
.title-description{
    padding: 20px;
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
    text-shadow: 2px 2px gray;
    text-transform: uppercase;
    font-size: 26px;
}
.title-contacts{
    padding: 50px;
    text-align: justify;
    font-size: 30px;
}
.title-info{
    margin-top: 15px;
}
.form input{
    margin: 5px;
}
.form button{
    margin-left: 5px;
    margin-bottom: 10px;
}

.video{
    margin-bottom: 10px;
}
.contacts-info{
    border: 1px solid gray;
    background-color: white;
}
.contacts-info-top{
    margin-top: 10px;
    padding: 5px;
}
.contacts-margin{
   margin-bottom: 10px;
}
.title-contacts{
    font-size: 20px;
}
.description-form{
    padding: 5px;
    font-size: 18px;
}
/*Description*/
.description{
    border-top: none;
    background-image: URL("../images/sac.jpg");
    background-size: 100%;
    opacity: 0.95;
}
.info-description{
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
    color: white;
    padding:10px 0px 10px 10px;
}

.description-img{
    padding: 0;
}
.description-img img {
    width: 100%;
}
.info-description li{
    text-transform: uppercase;
    padding: 5px;
    font-size: 40px;
    
}
/*Publicitate*/
.publicitate{
    margin-top: 20px;
}
.img-pub{
    background-color: white;
    border-left: 4px solid #216a94;
    border-top: 4px solid #216a94;
    border-bottom: 4px solid #216a94;
    border-right: 4px solid #216a94;
    width: 49%;
}
.title-pub{
    background-color: #216a94;
    border: 4px solid #216a94;
    width: 49%;
}
.livrare-icon{
    width: 40%;
    margin: 20px;
}
.intoarce-l{
    color: white;
}
.abaut-l{
    color: white;
}
.abaut-l:hover{
    color: white;
}
.abaut-l:active{
    color: white;
}
.abaut-l:visited{
    color: white;
}
.liv-description{
    font-size: 22px;
}
.font{
    padding: 0;
}
.font li{
    font-size: 22px;
}
.font h1{
    padding: 20px;
    background-color: #80d4ff;
    color: white;
    margin: 0;
}
.title-l{
    color: green;
    font-size: 20px;
    padding: 10px;
}
.desc-liv{
    background-color: gray;
    color: white;
    padding: 25px;
    margin-bottom: 20px;
}
.atentie{
    background-color: #cce6ff;
}
.atentie .img-l{
    padding: 30px;    
}
.atentie-t p{
    font-size: 32px;
    color: green;
    padding: 15px;
    padding-left: 0;
}
.atentie-d p{
    font-size: 26px;
    color: gray;
}
.padding{
    margin-bottom: 40px;
}
/*Footer*/
.footer{
    background-color: #333;
    color: white;
    height: 150px;
    text-align: center;
}
.footer div{
    padding: 50px;
}
.produs{
    background-color: white;
}
.livrare-bak{
    background-color: white;
}
/*Detalii*/
.img-detalii{
    width: 100%;
}
/*Contacte US*/
