/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2017, 3:06:09 PM
    Author     : valintin
*/
.content{
    float:left;
    width: 100%;
}
.menu{
    background-color: white;
}
.social{
    float:right;
    margin-top:5px;
}
.social a{
    text-decoration: none;
}
.social img{
    width: 25px;
    margin-left: 5px;
}
.produs{
    border:1px solid gray;
    margin-top:20px;
}
.culoare{
    width: 35px;
    height: 35px; 
    float:left;
    cursor:pointer;
    margin-top:10px;
}
.culoare:hover{
    border: 3px solid #f48420;
    border-radius:3px;
}
.culoare img{
    width: 100%;
    height: 100%;
}
.locmarime{
    padding:0px;
    width: 30px;
    float:left;
}
.marime{
    width: 35px;
    height: 35px;
    line-height: 25px;
    margin-top:10px;
    border:1px solid gray;
    text-align: center;
    padding-top:3px;
    font-size:14px;
    font-weight: bold;
    cursor:pointer
}
.marime:hover{
    border: 3px solid #f48420;
    border-radius:3px;
}
.active_color{
    border: 3px solid #f48420;
    border-radius:3px;
}
.pret{
    margin-top: 70%;
    margin-bottom: 0px;
    font-weight: bold;
    color: #5cb956;
    float: left;
    font-size: 30px;
}

.suna {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	outline: 0;
	margin-top: 72%;
	margin-left: 10px;
}
.suna:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.suna:active {
	position:relative;
	top:1px;
}

.caracteristici {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c4c4c4;
	display:inline-block;
	cursor:pointer;
	color:#525252;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.caracteristici:hover {
	background-color:transparent;
}
.caracteristici:active {
	position:relative;
	top:1px;
}
.form_trimite{
    margin-top: 33px;
    display:none;
    width:0px;
    float:right;
}
.descriptionclass{
    width: 300px;
    margin-left: -50px;
    padding: 10px 10px 0px 15px;
}
@media screen and (max-width: 1200px) {
    .culoare{
        float:none;
    }
    .pret{
        margin-top:60%;
    }
    .suna{
        margin-top:60%;
    }
}
@media screen and (max-width: 991px) {
    .pret{
        margin-top: 0px;
    }
    .suna{
        margin-top:0px;
    }
    .form_trimite{
        margin-top:10px;
    }
}
@media screen and (max-width: 767px) {
    .locmarime{
        width: 100%;
    }
    .culoare{
        float:left;
        margin-left:10px;
    }
    .marime{
        float:left;
        margin-left:15px;
    }
    .pret{
        margin-top:0px;
        margin-bottom: 10px;
    }
    .suna{
        margin-top:0px;
    }
    .form_trimite{
        margin-top: 20px;
    }
}