/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2017, 3:06:09 PM
    Author     : valintin
*/
.content{
    float:left;
    width: 100%;
}
.menu{
    background-color: white;
}
.social{
    float:right;
    margin-top:5px;
}
.social a{
    text-decoration: none;
}
.social img{
    width: 25px;
    margin-left: 5px;
}
.produs{
    border:1px solid gray;
    margin-top:20px;
}
.culoare{
    width: 35px;
    height: 35px; 
    float:left;
    cursor:pointer;
    margin-top:10px;
}
.culoare:hover{
    border: 3px solid #f48420;
    border-radius:3px;
}
.culoare img{
    width: 100%;
    height: 100%;
}
.locmarime{
    padding:0px;
    width: 30px;
    float:left;
}
.marime{
    width: 35px;
    height: 35px;
    line-height: 25px;
    margin-top:10px;
    border:1px solid gray;
    text-align: center;
    padding-top:3px;
    font-size:14px;
    font-weight: bold;
    cursor:pointer
}
.marime:hover{
    border: 3px solid #f48420;
    border-radius:3px;
}
.active_color{
    border: 3px solid #f48420;
    border-radius:3px;
}
.pret{
    margin-top: 70%;
    margin-bottom: 0px;
    font-weight: bold;
    color: #5cb956;
    float: left;
    font-size: 30px;
}
.suna{
    margin-top: 70%;
    margin-left:15px;
}
.form_trimite{
    margin-top:22%;
    display:none;
    width:0px;
    float:right;
}
@media screen and (max-width: 1200px) {
    .culoare{
        float:none;
    }
    .pret{
        margin-top:60%;
    }
    .suna{
        margin-top:60%;
    }
}
@media screen and (max-width: 991px) {
    .pret{
        margin-top: 0px;
    }
    .suna{
        margin-top:0px;
    }
    .form_trimite{
        margin-top:10px;
    }
}
@media screen and (max-width: 767px) {
    .locmarime{
        width: 100%;
    }
    .culoare{
        float:left;
        margin-left:10px;
    }
    .marime{
        float:left;
        margin-left:15px;
    }
    .pret{
        margin-top:0px;
        margin-bottom: 10px;
    }
    .suna{
        margin-top:0px;
    }
    .form_trimite{
        margin-top: 20px;
    }
}