/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 7:11:33 PM
    Author     : Padure Gheorghe
*/
.w3-display-left{
    top: 30%!important;
}
.w3-display-right{
    top: 30%!important;
}
.my-container{
    width: 1700px;
    height: auto;
    background-color: white;
    font-size: 45px;
    padding: 0!important;
    margin: 0!important;
}
.color{
    width: 40px;
    height: 40px;
    margin: 14px;
    float: left;
}
.materie-1{
    background-color: red;
}
.materie-2{
    background-color: yellow;
}
.materie-3{
    background-color: blue;
}
.materie-4{
    background-color: green;
}
#produs{
    border-bottom: 1px solid gray;
}
.imagine{
    height: auto;
    /*background-image: URL(../images/sac.jpg);*/
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom:10px;
}
.imagine img{
    height: auto;
}

.form{
    text-align: center;
    padding: 45px;
}
.form button{
    width: 100px;
}
.form p{
    font-size: 26px;
}
.materiale{
}
.contactare .telefon{
    margin: 0!important;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 34px;
    font-weight: 600;
    padding: 5px;
    border-radius: 0;
}
.contactare{
    padding: 0;
}
.w3-container{
    padding: 0!important;
}
.w3-input{
}
.row{
}